src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="85aaf9d4-b4b5-4db2-9f0c-7c50e8a8dc38" basePath="/saama" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="104abfd1-e3ab-41ee-b63c-2fa7698d9863" >
		<http:listener doc:name="Listener" doc:id="a833730b-e44d-4430-9fa9-af98fa017712" config-ref="HTTP_Listener_config" path="/s1"/>
		<set-payload value="vandu" doc:name="Set Payload" doc:id="e422f7cb-ec97-4fb4-8183-079b8469de41" />
		<logger level="INFO" doc:name="Logger" doc:id="2ee74993-4d7b-47fb-bee6-421718ffa1e8" message="#[payload]"/>
	</flow>
</mule>
